# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.vscode

# Node dependencies
node_modules

# Logs
logs
*.log
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Lock files
.yarn
yarn.lock